<!DOCTYPE html>
<html>
	<body>
		<div class="primary-footer">
			<div class="footer-wrap">
				<div class="container">
				<div class="footer">
					<div class="logo">
						<h1>
							Neto<span style="color: white">Deolino</span>
						</h1>
					</div>
					<div class="social">
						<ul>
							<li><img src="/images/facebook.png"/></li>
							<li><img src="/images/twitter.png"/></li>
							<li><img src="/images/linkedin.png"/></li>
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>