<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<h2>User Save Test</h2>    
    <form action="/saveuser" method="post" accept-charset="utf-8">
		<input type="text" name="first_name" />
		<input type="text" name="last_name" />
		<input type="text" name="email" />
		<input type="submit" name="submit"/>
	</form>

	<h2>Livro Save Test</h2>
	<form action="/savelivro" method="post" accept-charset="utf-8">
		<input type="text" name="nome" />
		<input type="text" name="ano" />
		<input type="text" name="ISBN" />
		<input type="text" name="autor" />
		<input type="text" name="categoria" />
		<input type="submit" name="submit"/>
	</form>
	</body>
</html>
